.pokemon {
    box-shadow: 1px 2px 5px #ccc;
    min-width: 20em;
    width: 28em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: #ffff;
    z-index: 1;
    position: relative;
}

.pokemon-image {
    background: #6cf;
}